<footer class="">
	<div class="container footer">
		<div class="row">
			<div class="col-md-5">
				<h6>Контакты в России:</h6>
				<p>Адрес: г. Смоленск, ул. Маршала Соколовского д. 10</p>
				<p>Тел.: +7 (4812) 56 84 52;  +7 (4812) 56 46 85  </p>
				<p>Моб.: +7 (951) 717 86 85; +7 (950) 705 41 44 </p>
				<p>Факс: +7 (4812) 35 76 86</p>
				<p>Бухгалтерия: +7 (4812) 56 42 55; +7 (951) 694 42 55</p>
				<p>Skype: kvintozsn </p>
				<p>E-mail: info@setpipe.ru</p>
			</div>
			<div class="col-md-5">
				<h6>Контакты в Республике Беларусь:</h6>
				<p>Адрес: г. Минск, ул. Украинская, д.5</p>
				<p>Тел.: +375 (29) 777 24 44</p>
				<p>Skype: kvintozsn </p>
				<p>E-mail: info@setpipe.ru</p>
			</div>
			<div class="col-md-2">
				<div class="footer-logo">
					<img src="/img/logo.png">
				</div>
				<button class="btn">Свяжитесь с нами</button>
			</div>
		</div>
		<div class="row postfooter">
			<div class="col-md-12">
				<p>© 2019 Setcom</p>
			</div>
		</div>
	</div>
</footer>