<!-- views/partials/header.ejs -->
<header>	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item <% if(page == 'main') { %> active <% } %>">
              <a class="nav-link" href="/">Главная
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item <% if(page == 'catalog') { %> active <% } %>">
              <a class="nav-link" href="/catalog">Шланги и трубки</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">Области применения</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">Полезная информация</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>


<div id="feedback-form" class="modal-window d-none">
	<div class="close-btn"></div>
  <p class="feedback-text">Для экономии Вашего времени и увеличения скорости обработки Ваших заявок, мы создали данную форму обратной связи. Задайте любой вопрос, который Вас интересует и получите незамедлительный результат.</p>
  <form action="">
  	<div class="form-group">
	    <label for="name-input">Ваше имя <span>*</span></label>
	    <input type="text" name="name" class="form-control" id="name-input" aria-describedby="nameHelp" placeholder="Введите ваше имя" required >
	    <!-- <small id="nameHelp" class="form-text text-muted">Заполните это поле</small> -->
	  </div>
	  <div class="form-group">
	    <label for="email-input">Ваш email <span>*</span></label>
	    <input type="email" name="email" class="form-control" id="email-input" aria-describedby="emailHelp" placeholder="Введите ваш email" required>
	  </div>
	  <div class="form-group">
	    <label for="phone-input">Ваш телефон</label>
	    <input type="text" name="phone" class="form-control" id="phone-input" aria-describedby="emailHelp" placeholder="Введите ваш телефон">
	  </div>
	  <div class="form-group">
	    <label for="textarea">Ваше сообщение <span>*</span></label>
	    <textarea name="message" class="form-control" id="textarea" rows="3" required></textarea>
	  </div>
	  <div class="form-group">
	  	<label>
	  		Введите два любых ненулевых числа и их сумму: <span>*</span>
	  	</label>
	  	<div>
		  	<input class="form-control check-number" type="number" name="one"> + 
		  	<input class="form-control check-number" type="number" name="two"> = 
		  	<input class="form-control check-number" type="number" name="sum">
	  	</div>
	  	<small class="form-text wrong d-none">Неверное выражение!</small>
	  </div>

	  <button class="btn btn-primary send">Отправить</button>
  </form>
</div>