<!-- views/partials/header.ejs -->
<header>	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Главная
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catalog">Шланги и трубки</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">Области применения</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">Полезная информация</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">Контакты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Акции</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>