<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To-Do</title>
    <script src="/assets/jquery-3.2.1.min.js" charset="utf-8"></script>
    <!-- <script src="/assets/todo-list.js" charset="utf-8"></script> -->
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <header></header>

    <main>
      <div class="content">
          <div class="pipes-item">
            <img src="<%= pipe.photo %>">
            <h4><%= pipe.name %></h4>
            <p><%= pipe.short_description %></p>
          </div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
